
.services_list {
  list-style-type: none;
  padding: 0;

  li {
    position: relative;
    width: 100%;
    padding: $line-height-computed ($line-height-computed*2 + 30px) $line-height-computed $line-height-computed*2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:nth-child(odd) {
      background-color: #eaeaea;
    }

    .services_delete-service {
      position: absolute;
      right: $line-height-computed;
      top: 50%;
      margin-top: -16px;
    }
  }
}