<div class="services_back-link">
  {{#link-to 'pwg'}}Back{{/link-to}}
</div>
{{#if password}}
  <div class="pwg_password">
    {{ password }}
  </div>
  {{#if copyAble}}
    <div class="pwg_copy-button-container">
      <button type="button" class="btn pwg_password-copy-button" data-pwg-password="{{ password }}">
        Copy!
      </button>
    </div>
  {{/if}}
{{/if}}